@import "src/css/colors.scss";
@import "src/components/Layout/layout.scss";

.c-navigation{
    $sideBarWidth: 250px;
    &__container{
        margin-left: $sideBarWidth;
        padding: 50px;
    }
    &__sidebar{
        position: fixed;
        width: $sideBarWidth;
        height: 100%;
        top:0;
        left: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #00000055;
        background: #FFF1;
        overflow: hidden;
        &__title{
            color: $text-color;
            margin: 30px 0;
            font-size: 1.5em;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        &__nav{
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    @media screen and (max-width: map-get($grid-breakpoints, "sm")){
        &__sidebar{
            transition: transform .5s;
            background: lighten($primary-bg, 3%);
            &--collapsed{
                transform: translateX(-$sideBarWidth);
            }
            &__title{
                margin: 15px 0;
            }
            &::after{
                content: "";
                display: block;
                color: white;
                background: #424B55;
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("/assets/list_solid.svg");
                position: absolute;
                top: 0;
                right: -50px;
                width: 50px;
                height: 50px;
                border:  1px solid black;
                border-left: none;
            }
        }
        &__container{
            margin-left: 0;
            padding: 10px;
        }
    }

    &__list{

    }
    $self: &;
    &__item{
        margin: 20px;

        & > #{$self}__list{
            margin-left: 5px;
        }
        &__button{
            border: none;
            outline: none;
            background: transparent;
            color: $text-color;
            font-size: 1.1em;
            font-weight: 400;
            white-space: nowrap;
            padding-left: 0;
            &:first-letter{
                text-transform: uppercase;
            }
        }
        &__label{
            color: $text-color;
            font-size: 1.1em;
            font-weight: 400;
            display: block;
            cursor: pointer;
            white-space: nowrap;
            &:first-letter{
                text-transform: uppercase;
            }
        }
        &--group{
            position: relative;
        }
        &--active{
            position: relative;

            &::before{
                content: "\1405";
                display: inline;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -20px;
                color: white;
            }
        }
    }
}