$primary-bg:#485563;
$secondary-bg: #29323c;

$color-1: #715213;
$color-2: #c29c45;
$color-3: #968358;
$color-5: #42340f;


$color-4: #5d786c;
$color-5: #6e8976;
$color-6: #779789;
$color-7: #7ec78c;
$color-8: #539866;
$color-9: #a5a5a5;

$main-background-gradient: linear-gradient(-0.33turn,  $primary-bg, $secondary-bg)
