a{
    &, &:link, &:hover, &:active, &:active:hover{
        text-underline-offset: 2px; 
        color: white;
    }
}

* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}