

@mixin bg-letter(){
    background-size: 200px;
    background-image: url("/assets/black_leather_texture.jpg"); 
}

@mixin bg-wood($aspect: "vertical") {
    background-repeat: repeat-x;
    background-image: url("/assets/wood_texture.jpg");
    @if $aspect == "horizontal" {
        background-size: cover;
        background-image: url("/assets/wood_texture-horizontal.jpg");
    }
}


@mixin bg-metal() {
    background-size: 200px;
    background-image: url("/assets/black_metal_texture.jpg");
    background-repeat: repeat;
}


@mixin border-metal() {
    border-radius: 3px;
    box-shadow: inset grey 0  0px 0px 1px,
     inset rgba(#FFF, .8) 0 0 2px 1px,
     rgba( #FFF, .7) 0  0px 2px 1px;
}