.c-synth{
    //min-width: 150px;
    padding: 0 ;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    text{
        font-family: "Roboto Mono";
    }
    &__oscillator{
        display: flex;
        flex-direction: column;
    }
    .c-list--waves{
        width: 100px;
    }
    .c-envelope{
        width: 170px;

    }
    &__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 5px;
        &--filter-type{
            height: 50px;
        }
    }
    &__filter{
        display: flex;
        flex-direction: column;
        &__knob{
            width: 45px;
            height: 45px;
        }
    }
    &__oscillator{
        &__knob{
            width: 45px;
            height: 45px;
        }
    }
}