.c-scroll-top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0007;
    float: right;
    background: #fff2;
    color: #fff8;
}